body {
     margin: 0; 
     font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif; 
     font-size: 14px; 
     line-height: 20px; 
     color: #333333; 
     background-color: white;
    text-align: center;
}
.header { background-color: #008B8B;color: #ffffff;}
.footer{ background-color: #ffffff;}
h3 { font-size: 30px;padding: 0 !important;line-height: 40px;}
.report .searchCriteria{margin-left: auto;margin-right: auto;}
#submit{ margin-right: 18px;}
.searchLabel { font-weight: bold;}
.reportDataTable{border: solid 1px #cccccc;margin-left: auto;margin-right: auto;width: 95%;}
/*.rowCell{border: solid 1px #cccccc;}*/
.reportDataTable >thead {background-color: #008B8B;color: #ffffff;font-size: 15px;}