
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_GlobalLayout.cshtml";
}

<h2>Attendance Report</h2>

<div class="report">
    <form id="reportForm">
        <table class="searchCriteria">
            <tr><td class="searchLabel" align="left">Name:</td><td><input type="text" name="name"></td></tr>
            <tr><td class="searchLabel" align="left">Class:</td><td><input type="text" name="class"></td></tr>
            <tr><td class="searchLabel" align="left">Section:</td><td><input type="text" name="section"></td></tr>
            <tr><td class="searchLabel" align="left">Date From:</td><td><input type="text" name="dateFrom" id="fromDatepicker"></td></tr>
            <tr><td class="searchLabel" align="left">Date To:</td><td><input type="text" name="dateTo" id="toDatepicker"/></td></tr>
        </table>
        <br/>
        <input type="submit" value="Submit" id="submit" data-url="@Url.Action("GetReport", "Report")">
        <input type="reset" value="Reset" id="reset">
    </form>
    <br/>
    <br/>
    <div class="reportData"></div>
</div>

