body {
    text-align: center;
    background-color: #F5FBFB !important;
}
.navbar { position: relative !important;}
.navbar-brand {background: url('../img/logo2.png') no-repeat 0 0 #000;width: 165px;}
.header, /*{width:100%; height:80px; overflow:hidden; margin: 0 auto; background-color:#252727}*/
.footer{ background-color: #252727;color: #ffffff;padding: 15px 0 15px 30px;}
h3 { font-size: 25px!important;padding: 0 !important;line-height: 30px;margin: 0!important;}
.report .searchCriteria{margin-left: auto;margin-right: auto;}
#submit{ margin-right: 18px;}
.searchLabel { font-weight: bold;}
.reportDataTable{border: solid 1px #cccccc;margin-left: auto;margin-right: auto;width: 95%;}
/*.rowCell{border: solid 1px #cccccc;}*/
.reportDataTable >thead {background-color: #008B8B;color: #ffffff;font-size: 15px;}
.reportDataTable >tbody >tr >td.Name, .reportDataTable >tbody >tr >td.Category,
.reportDataTable >tbody >tr >td.Gender { text-align: left;padding-left: 20px;}
/*Datepicker customize styles */
.ui-state-disabled { background-color: white;}
.show { display: block;}
.hide { display: none;}
.btnExport { margin: 20px 0;}

/*Home page styles*/
.home{ overflow:hidden; padding:35px 0;}
.boxes{ overflow:hidden; width:908px; height:450px; margin: 0 auto; position:relative;}

/*Notification page styles*/
.notificationTable {margin-left: auto;margin-right: auto;width: 50%;} 
.notificationTable tr td { vertical-align:top;padding-top:25px; }
.ntfnLabel { display: inline-block;font-weight: bold;font-size: 14px;text-align: right;}
.ntfnText { display: inline-block;}

#btn1{
	background:#819BC1;
    border-color:#819BC1;
	height:200px;
	width:265px;
	position:relative;
	margin-left:10px;
	left:900px;
	cursor:pointer;
	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height:300px;
	padding-left:10px;
	text-align:left;


}
#btn2{
	background:#FF9A33;
    border-color:#FF9A33;
	height:200px;
	width:265px;
	position:relative;
	margin-left:10px;
	left:900px;
	cursor:pointer;

	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height:300px;
	padding-left:10px;
	text-align:left;
}

#btn3{
	background:#19A92A;
	border-color:#19A92A;
	height:200px;
	width:265px;
	position:relative;
	margin-left:10px;
	left:900px;
	cursor:pointer;

	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height:300px;
	padding-left:10px;
	text-align:left;
}


