
body {
    /* background-color: #F5FBFB !important; */
    font-family: "Montserrat-Bold","Helvetica Neue", Helvetica, Arial, sans-serif !important;
    display: block !important;
    color:#7e8083 !important;
}
.navbar { position: relative !important; margin-top:20px;min-height:40px !important;}
.navbar-brand {background: url('../img/logo5.png') no-repeat;width: 165px;}
h3 { font-size: 25px!important;padding: 0 !important;line-height: 30px;margin: 0!important;}
.report .searchCriteria{margin-left: auto;margin-right: auto;}
#submit{ margin-right: 18px;}
.searchLabel { font-weight: bold;}
.reportDataTable{border: solid 1px #cccccc;margin-left: auto;margin-right: auto;width: 95%;}
.reportDataTable >thead {background-color: #428bca;color: #ffffff;font-size: 15px;}
.rowCell { text-align: left !important;padding-left: 20px !important;}
.reportDataTable >thead >tr >th.UserName, .reportDataTable >tbody >tr >td.UserName { display: none !important;}
th { text-align: center !important;}
table >tbody >tr { height: 100% !important;}

/*Datepicker customize styles */
.ui-state-disabled { background-color: white;}
.show { display: block;}
.hide { display: none;}
.btnExport { margin: 0 auto;}

/*Home page styles*/
.home{ overflow:hidden; padding:35px 0;margin: 0 auto;width: 80%;}
.boxes{ overflow:hidden; width:908px; height:450px; margin: 0 auto; position:relative;}

/*Notification page styles*/
#notificationForm { margin: 20px;}
.notificationTable {margin-left: auto;margin-right: auto;width: 50%;} 
.notificationTable tr td { vertical-align:top;padding-top:25px; }
.ntfnLabel { display: inline-block;font-weight: bold;font-size: 14px;text-align: right;}
.ntfnText { display: inline-block;}

.boxes {
    height:365px;
	width:265px;
	position:relative;
	/*margin-left:10px;*/
    /*left:900px;*/
	/*cursor:pointer;*/
	color:#FFF;
    font-size:25px;
    line-height:30px;
    /*padding-left:10px;*/
	text-align:center;
    /*display: inline-flex;*/
    justify-content: center;
    align-items: center;
    float: left;
}

.homeBtn {
    clear:left; width: 265px; height: 155px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    /*display: -webkit-box;*/      /* OLD - iOS 6-, Safari 3.1-6 */
    /*display: -moz-box;*/          /* OLD - Firefox 19- (buggy but mostly works) */
    /*display: -ms-flexbox; */      /* TWEENER - IE 10 */
    /*display: -webkit-flex; */     /* NEW - Chrome */
    /*display: flex;*/              /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

#btn1{
	background:#819BC1;
    border-color:#819BC1;
}
#btn2{
	background:#FF9A33;
    border-color:#FF9A33;
}

#btn3{
	background:#19A92A;
	border-color:#19A92A;
}

.outerBox{margin: 15px;}
.boxImg {width: 265px;
    height: 210px;
    float: left;}
.box1Img {
    background: url('../img/attendance.png') no-repeat 0 0;
    background-color: #819BC1;
}
.box2Img {
    background: url('../img/Students.png') no-repeat 0 0;
    background-color: #FF9A33;
}
.box3Img{
    background: url('../img/sms2.jpg') no-repeat 0 0;
    background-color: #19A92A;
}

/* Overwrite bootstrap stsyles*/
.control-label {
    font-weight: normal !important;
}

.glyphicon {
    color: #C7C1C1 !important;
}

.lookUp a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    color: #C7C1C1 !important;
}
.lookUp a.collapsed:after {
    font-family:'Glyphicons Halflings';
    content:"\e080";
    color: #C7C1C1 !important;
}

/* E0D9D9*/
/*.form-control{ height: 100% !important;}*/
#loginForm .form-control {
    width: 100% !important;
}
#loginForm .control-label {
    padding-bottom: 5px !important;
    text-align: left !important;
}
.report .panel{ width: 56% !important;margin: 0 auto !important;}
.panel-heading { padding: 5px 15px !important;}

.alignCenter{ text-align: center !important;}
.contactUsContent{ width: 40% !important; margin: 0 auto !important; }
.notificationContent { width: 75% !important; margin: 0 auto !important; }
.editContent {width: 55% !important; margin: 0 auto !important;}
.boxesContainer a{ color: #ffffff !important;}
footer{ text-align: center;}
.table.manageTable {
    border: solid 1px #cccccc;
    margin-left: auto;
    margin-right: auto;
}
.table.manageTable tbody > tr > th, .table tbody > tr > td { padding: 3px !important;}
.table.manageTable tbody > tr:nth-child(odd) {
    background-color: #EAE9E9;
}

.navbar-inverse { background-color: #ffffff !important; border:none !important;}
.navbar-header {padding-right: 30px;}


.navbar-inverse .navbar-nav > li > a { color: #9E9A9A !important;  text-transform: uppercase;
    display: inline-block; margin: 10px 15px 0 5px !important; padding: 0 !important;font-weight:bold;}
/*  37A736*/
.dropdown-menu > li > a {
    color: #9E9A9A !important;
}
/*.navbar-inverse .navbar-nav > li > a:hover { background-color: #60a628 !important; color: #ffffff !important;} */
.navbar-inverse .navbar-nav > li > a:hover { border-bottom: solid 3px #60a628;}
.navbar-inverse .navbar-nav > li > a.dropdown-toggle:hover {border-bottom: none !important;}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #9E9A9A !important;
    background-color: transparent !important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #60a628 !important;
  text-decoration: none;
  background-color: transparent !important;
}

.manageTable >tbody >tr >th.action, .manageTable >tbody >tr >th.section, .manageTable >tbody >tr >th.gender,
.manageTable >tbody >tr >td.action, .manageTable >tbody >tr >td.section, .manageTable >tbody >tr >td.gender {
    text-align: center !important;
}
/*.manageTable >tbody >tr >td.action a{ color: #333333 !important;}*/
.manageTable >tbody >tr:first-child th {
    background-color: #428bca !important;
    color: #ffffff;
}
.manageTable >tbody >tr >th a {
    color: #ffffff !important;
    text-decoration: underline !important;
}

.btnStudentSearch{
    height: 28px;
    padding-top: 3px !important;
}

.welcome-content p{
    margin: 0 0 15px 0;
}

.shadowBox {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
}
.login-box {
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    width: 100%;
    margin: 0 auto;
    min-height: 530px;
    float: right !important;
    right: 0;
    width: 360px;
    padding: 25px !important
}
#register, #login {
    width: 100% !important;
}
/* generic styles */
.center { margin: 0 auto;}
.bold{ font-weight: bold !important;}
.underline { text-decoration: underline !important;}
.pd-xs { padding: 1px;}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

div.scrollWrapper{

  height:250px;
  width:200px; 
  overflow:scroll;
}
tbody { height:200px !important;  overflow:scroll !important;}

.expandCollapse {
    text-decoration: underline;
}

.leftPanel { width: 23%;}
.btn-dark {
    background-color: #232323 !important;
    color: white !important;
}

.email-groups-container {
    background-color: #f5f5f5;
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding: 10px;
    margin-right: 15px;
    margin-left: 15px;
}
.text-right {
    text-align: right !important;
}
.text-left {
    text-align: left !important;
}
.group-action {
    padding-right: 15px;
    padding-left: 15px;
}
.availableGroups {
    color: white;
    background-color: #00a2de;
    padding: 5px;
}