
body {
    /*text-align: center;*/
    background-color: #F5FBFB !important;
    display: block !important;
}
.navbar { position: relative !important;}
.navbar-brand {background: url('../img/logo3.png') no-repeat 0 0 #428bca;width: 175px;}
h3 { font-size: 25px!important;padding: 0 !important;line-height: 30px;margin: 0!important;}
.report .searchCriteria{margin-left: auto;margin-right: auto;}
#submit{ margin-right: 18px;}
.searchLabel { font-weight: bold;}
.reportDataTable{border: solid 1px #cccccc;margin-left: auto;margin-right: auto;width: 95%;}
/*.rowCell{border: solid 1px #cccccc;}*/
.reportDataTable >thead {background-color: #428bca;color: #ffffff;font-size: 15px;}
/*.reportDataTable >tbody >tr >td.Name, .reportDataTable >tbody >tr >td.Category,.reportDataTable >tbody >tr >td.Class,
.reportDataTable >tbody >tr >td.Section,
.reportDataTable >tbody >tr >td.RFID,
.reportDataTable >tbody >tr >td.Gender { text-align: left;padding-left: 20px;}*/
.rowCell { text-align: left !important;padding-left: 20px !important;}
.reportDataTable >thead >tr >th.UserName, .reportDataTable >tbody >tr >td.UserName { display: none !important;}
th { text-align: center !important;}
/*Datepicker customize styles */
.ui-state-disabled { background-color: white;}
.show { display: block;}
.hide { display: none;}
.btnExport { margin: 0 auto;}

/*Home page styles*/
.home{ overflow:hidden; padding:35px 0;}
.boxes{ overflow:hidden; width:908px; height:450px; margin: 0 auto; position:relative;}

/*Notification page styles*/
.notificationTable {margin-left: auto;margin-right: auto;width: 50%;} 
.notificationTable tr td { vertical-align:top;padding-top:25px; }
.ntfnLabel { display: inline-block;font-weight: bold;font-size: 14px;text-align: right;}
.ntfnText { display: inline-block;}

.boxes {
    height:365px;
	width:265px;
	position:relative;
	/*margin-left:10px;*/
    /*left:900px;*/
	/*cursor:pointer;*/
	color:#FFF;
    font-size:25px;
    line-height:30px;
    /*padding-left:10px;*/
	text-align:center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    float: left;
}

#btn1{
	background:#819BC1;
    border-color:#819BC1;
    top: 110px;
    height: 168px;
    min-width: 100%;
}
#btn2{
	background:#FF9A33;
    border-color:#FF9A33;
    top: 110px;
    height: 168px;
    min-width: 100%;
}

#btn3{
	background:#19A92A;
	border-color:#19A92A;
    top: 110px;
    height: 168px;
    min-width: 100%;
}

.outerBox{margin: 5px;}
.box1Img{ background: url('../img/attendance.png') no-repeat 0 0;min-width: 100%;height: 210px;background-size: contain;position: absolute;left: 0;}
.box2Img{background: url('../img/Students.png') no-repeat 0 0;min-width: 100%;height: 210px;background-size: contain;position: absolute;left: 0;}
.box3Img{background: url('../img/sms2.jpg') no-repeat 0 0;min-width: 100%;height: 210px;background-size: contain;position: absolute;left: 0;}
/* Overwrite bootstrap stsyles*/
/*.form-control {
    width: 50% !important;
}*/

.control-label {
        font-size: 16px !important;
    font-weight: normal !important;
}

#loginForm .form-control {
    width: 100% !important;
}
#loginForm .control-label {
    padding-bottom: 5px !important;
    text-align: left !important;
}
.report .panel{ width: 56% !important;margin: 0 auto !important;}
.panel-heading { padding: 5px 15px !important;}

.alignCenter{ text-align: center !important;}
.notificationContent { width: 75% !important; margin: 0 auto !important; }

.boxesContainer a{ color: #ffffff !important;}
footer{ text-align: center;}
.table.studentTable {
    border: solid 1px #cccccc;
    margin-left: auto;
    margin-right: auto;
}
.table.studentTable tbody > tr > th, .table tbody > tr > td { padding: 3px !important;}
.table.studentTable tbody > tr:nth-child(odd) {
    background-color: #EAE9E9;
}

.navbar-inverse { background-color: #428bca !important; }

.navbar-inverse .navbar-nav > li > a { color: #ffffff !important;}

.studentTable >tbody >tr >th.action, .studentTable >tbody >tr >th.section, .studentTable >tbody >tr >th.gender,
.studentTable >tbody >tr >td.action, .studentTable >tbody >tr >td.section, .studentTable >tbody >tr >td.gender {
    text-align: center !important;
}
.studentTable >tbody >tr >td.action a{ color: #333333 !important;}
.studentTable >tbody >tr:first-child th {
    background-color: #428bca !important;
    color: #ffffff;
}
.studentTable a {
    color: #ffffff !important;
    text-decoration: underline !important;
}

.btnStudentSearch{
    height: 28px;
    padding-top: 3px !important;
}

.welcome-content p{
    margin: 0 0 15px 0;
}

.login-box {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    width: 100%;
    margin: 0 auto;
    min-height: 530px;
    float: right !important;
    right: 0;
    width: 360px;
    padding: 25px !important
}
#login {
    width: 100% !important;
}
/* generic styles */
.center { margin: 0 auto;}
.bold{ font-weight: bold !important;}
.underline { text-decoration: underline !important;}
.pd-xs { padding: 1px;}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

div.scrollWrapper{

  height:250px;
  width:200px; 
  overflow:scroll;
}
tbody { height:200px !important;  overflow:scroll !important;}