@{
    ViewBag.Title = "Home";
}

<div class="home col-md-offset-2 col-md-10">
    <div class="boxesContainer">
        <div id="btn1" class="boxes" style="float: left; left: 0px;">
            <a href="@Url.Action("Index", "Report")" target="_self">Attendance Reports</a>
        </div>
        <div id="btn2" class="boxes" style="float: left; left: -8px;">
            <a href="@Url.Action("Index", "Students")" target="_self">Manage Students</a>
        </div>
        <div id="btn3" class="boxes" style="float: left; left: -16px;">
            <a href="@Url.Action("Index", "Notification")" target="_self">Send SMS Notifications</a>
        </div>
    </div>
</div>

