@{
    ViewBag.Title = "Home";
}
<p>EDUKRITI system is designed to automate the attendance process through RF tracking mechanism.</p>
<p>
    We at EDUKRITI are always focused on providing optimal attendance solutions to our customers with
    seamless integration to the emerging RFID infrastructure in market.
</p>
<h4>Features</h4>
<div class="home col-md-offset-2 col-md-10">

    <div class="boxesContainer">
        <div class="boxes outerBox" style="border: solid 1px #819bc1;">
            <div class="boxImg box1Img"></div>
            <div id="btn1" class="homeBtn">Attendance Reports</div>
        </div>
        <div class="boxes outerBox" style="border: solid 1px #FF9A33;">
            <div class="boxImg box2Img"></div>
            <div id="btn2" class="homeBtn">Manage Students</div>
        </div>
        <div class="boxes outerBox" style="border: solid 1px #19A92A;">
            <div class="boxImg box3Img"></div>
            <div id="btn3" class="homeBtn">Send SMS Notifications</div>
        </div>
    </div>
</div>

<p>Advantages -</p>
<ul>
    <li>Reduced manual intervention</li>
    <li>More safety for students</li>
    <li>Improve parent school relationship</li>
</ul>


<div class="welcome-content">
    <p>
        RFID-In-School [RIS] is a RFID card technology and solutions company serving educational institutions, students and parents. Our mission is to make it simple and inexpensive for any institute to have a state-of-the-art IDcard program - without proprietary software, local systems or dedicated staff.
    </p>
    <p>
        We provide the only turn-key card&nbsp; management solution, delivering superior capability, service and performance for less than half the cost of locally-hosted card systems and management models.
    </p>
    <p>
        <b>Our Belief:</b> Increased communications is the key to building healthy relations. The school management is always on the lookout to enhance their relations with the parents of children they teach.
    </p>
    <p>
        We build solutions that help enhance the relationships. Regular Updates from the school regarding the progress of the child, announcements about forthcoming events, Emergency communications regarding special holidays are some of the examples of enhanced link building that schools do.
    </p>
    <p>
        We help by enabling the schools to reach out to the community using easy and friendly software that broadcast or uni-cast messages via short Messaging Services [SMS] or Electronic mail [email].
    </p>
    <p>Healthy inter-personal relations between the school and parents brings in more comfort and builds emotional quotient. Regular feedback from parents and schools helps us upgrade our service and product offerings.</p>
    <h2>HOW IT WORKS? </h2>
    <h4> Simple, Safe and Secure</h4>
    <p align="justify">
        Each student has to put the finger or show the card in/on fingerprint device. Everything else is automatic. As the student put the finger or shows the card in fingerprint device at entering or leaving the school, the date and time is logged and transmitted to a secure database and SMS is delivered to the respective Students Parent/Guardian.
    </p>
    <h4> Real-Time Answers</h4>
    <p align="justify">
        For the first time, accurate information is available to answer parent and administrators' questions accurately and cost-effectively.
    </p><ul>
        <li>
            Web-Based Reporting - Makes it fast and easy to access accurate information.
        </li>
        <li>Student Report - Stamps time for all enter &amp; exit activities by student.  </li>
        <li>Improves Safety and Efficiency  </li>
    </ul><p>
        School officials can quickly and easily track students while entering and leaving school and be in the best position to answer parents' questions. It has made student tracking easy, secure and affordable.
    </p>

    <h4>  Finally Knowable</h4>
    <p align="justify">
        School officials and parents have been waiting a long time for a solution to the vexing problem of knowing if, when student has entered or exit school premises. There is finally an accurate, easy and affordable answer and that answer is this.
    </p>
    <p align="justify">
        Accurate - Next Generation Student Tracking Attendance &amp; Messaging Application Ensures precise data collection. It is the only one of its kind.
    </p>
    <p align="justify">
        Easy - It works without requiring anyone to change behavior.
    </p>
    <p align="justify">
        Affordable - Innovative approach delivers performance at a price that is remarkably affordable.
    </p>
</div>

