@*@using TestMVC001.Core.Models;
@model TestMVC001.Core.Models.AttendanceRequestModel*@
@{
    ViewBag.Title = "AMS";
}
<h2>Message sent successfully</h2>

@*@if (Model.RfId != null)
{
    <h2>Message sent successfully</h2>
}
else
{
    <h2>Message sending failed</h2>
}*@
