<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.edu-kriti.com/edukriti</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://w21.winhost.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>edu-kriti.com/edukriti</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>edukriti</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=s11.winhost.com;Initial Catalog=DB_95608_edukriti;Persist Security Info=True;User ID=DB_95608_edukriti_user;Password=edukriti" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TestMVC001.Models.ApplicationDbContext, TestMVC001" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="myConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:s11.winhost.com;Initial Catalog=DB_95608_edukriti;User ID=DB_95608_edukriti_user;Password=edukriti;Integrated Security=False;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\myConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:s11.winhost.com;Initial Catalog=DB_95608_edukriti;User ID=DB_95608_edukriti_user;Password=edukriti;Integrated Security=False;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DB_95608_edukritiEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TestMVC001.Models.DB_95608_edukritiEntities, TestMVC001" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_95608_edukritiEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=s11.winhost.com;Initial Catalog=DB_95608_edukriti;Persist Security Info=True;User ID=DB_95608_edukriti_user;Password=edukriti</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)myConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>