
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_GlobalLayout.cshtml";
}

<div class="welcome">
    <div class="boxes">
        <a href="@Url.Action("Index", "Report")" target="_self">
            <div id="btn1" style="float: left; left: 0px;">
                <p> Attendance Reports </p>
            </div>
        </a>
        <a href="@Url.Action("Index", "Registration")" target="_self">
            <div id="btn2" style="float: left; left: 20px;">
                <p> Student Registration </p>
            </div>
        </a>
        <a href="@Url.Action("Index", "Features")" target="_self">
            <div id="btn3" style="float: left; left: 40px;">
                <p> Features & Packages </p>
            </div>
        </a>
    </div>
</div>
