
@{
    ViewBag.Title = "UserReport";
}

<h2>UserReport</h2>

<table>
    <tr>
        <td>
            Search : <input type="text" id="txtSearch" /> 
                     <input type="button" value="Search" id="btnSearch" />
                     <input type="button" value="Get Attendance Results" id="btnAllResults" />
        </td>
    </tr>
    <tr>
        <td>
            <div id="UpdatePanel">

            </div>
        </td>
    </tr>
</table>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            // This is for Get All Data
            $("#btnAllResults").click(function () {

                $.ajax({
                    url: "@Url.Action("GetAllUser","User")",
                    data: "",
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        loadData(data);
                    },
                    error: function () {
                        alert("Failed! Please try again.");
                    }
                });

            });

            // this will use for Get Data based on parameter
            $("#btnSearch").click(function () {
                $.ajax({
                    url: "@Url.Action("GetUserWithParameter","User")",
                    data: { prefix: $('#txtSearch').val() },
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        loadData(data);
                    },
                    error: function () {
                        alert("Failed! Please try again.");
                    }
                });
            });

            function loadData(data) {
                // Here we will format & load/show data
                var tab = $('<table class="myTable"></table>');
                var thead = $('<thead></thead>');
                thead.append('<th>User ID</th>');
                thead.append('<th>Username</th>');
                thead.append('<th>Full Name</th>');
                thead.append('<th>Email ID</th>');
                thead.append('<th>Is Active</th>');

                tab.append(thead);
                $.each(data, function (i, val) {
                    // Append database data here
                    var trow = $('<tr></tr>');
                    trow.append('<td>' + val.UserID + '</td>');
                    trow.append('<td>' + val.Username + '</td>');
                    trow.append('<td>' + val.FullName + '</td>');
                    trow.append('<td>' + val.EmailID + '</td>');
                    trow.append('<td>' + val.IsActive + '</td>');
                    tab.append(trow);
                });
                $("tr:odd", tab).css('background-color', '#C4C4C4');
                $("#UpdatePanel").html(tab);
            };

        });
    </script>
}